body {
  background-image: url("http://3.bp.blogspot.com/-pnaAkl3TTLI/UiM3_IUj46I/AAAAAAAAPSE/DSTVMVNxqpM/s1600/dubai+tower.jpg");
}

#menu-btns {
  display: inline-flex;
}

button.btn {
  width: 8em;
  height: 2.2em;
  border-radius: 0;
}

