/* @import url(“https://use.typekit.net/jmn4wnl.css“); */



#modal-container {
    display: grid;
    grid-template-columns:  50%;
    width: 62em;
    font-family: "houschka-rounded";
}

.modal-images {
    width: 5em;
  }

.modal-item {
    border: solid #707070 2px;
    padding: .5em 1em .5em 1em;
}

.modal-title {
    font-weight: 600;
}

.modal-source {
    font-style: italic;
}

.modal-description {
    font-size: 12px;
}

/* .modal-info-container {

} */

.modal-save-btn {    
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    font-size: 6px;
}