/* @import url(“https://use.typekit.net/jmn4wnl.css“); */



#modal-container {    
    display: grid;
    grid-template-columns: auto;
    font-family: "houschka-rounded";
}

.modal-content {
    background-color: #e4e4e4d0 !important;
    margin: 8em 0 0 0;
}

.modal-images {
    height: 5em;
    margin: 2em 1em 0 0;
}


.books-images {
    height: 11em;
    margin: 0 auto 0 auto;
}

.modal-item {
    border: solid #707070 2px;
    padding: .5em 1em .5em 1em;
    display: flex;
}

.modal-item > a {
    display: flex;
    color: black;
}

.modal-item > a:active {
    display: flex;
    color: black;
    text-decoration: none;
}

.modal-title {
    font-weight: 600;
}

.modal-source {
    font-style: italic;
}

.modal-description {
    font-size: 12px;
}


.modal-save-btn {    
    background-color: green;
    border: none;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    font-size: 6px;
    margin: auto 4em auto 0em;
}

.modal-delete-btn {    
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    font-size: 6px;
    margin: auto 4em auto 0em;
}

.modal-info-container {
    margin: auto 0;

    /* width: 26%; */
    /* border: solid;
    width: 11em; */
}

.fav-headlines-header, .fav-books-header {
    border-bottom: solid black 1px;
    margin: 0 0 6em 0;
}

#news-button {
 background-color: #0000009c;
 border-bottom: solid #dd3545 5px;   
 border-top: none;
 border-left: none;
 border-right: none;
}

#news-button:hover, #news-button:active  {
    background-color: #dd35469c;   
}

#books-button {
    background-color: #0000009c;
    border-bottom: solid #1AF20D 5px;   
    border-top: none;
    border-left: none;
    border-right: none;
}

#books-button:hover, #books-button:active  {
    background-color: #1AF20D9c;   
}

#favorites-button {
    background-color: #0000009c;
    border-bottom: solid rgb(227, 242, 13) 5px;   
    border-top: none;
    border-left: none;
    border-right: none;
}

#favorites-button:hover, #favorites-button:active  {
    background-color: rgba(227, 242, 13, 0.623);   
}

#apis-button {
 background-color: #0000009c;
 border-bottom: solid #0A2FD1 5px;   
 border-top: none;
 border-left: none;
 border-right: none;
}

#apis-button:hover, #apis-button:active  {
    background-color: #0A2FD19c;   
}

button.modal-close-button {
    background-color: #0000009c;
    border-top: none;
    border-left: none;
    border-right: none;
}